.custom-list-item {
    display: flex;
}

.custom-list-item-meta {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    padding: 5px;
    align-content: center;
    justify-content: center;
}

