.filter rect, .filter image, .filter text, .filter use {
    filter: blur(10px);
}

#tree .male>rect {
    fill: #a7da47;
}

#tree .female>rect {
    fill: #c97be3;
}

/* Restyle les nœuds féminins */
.node {
    background-color: #FF46A3; /* Rose */
    border-radius: 50%; /* Cercle */
}

.field_1 {
    fill: #2c0e0e;
}

#tree .bft-family-menu {
    display: block;

    background-color: transparent;
}

#tree .bft-family-menu>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbf1b1;
}


#tree .female .bft-edit-form-header{
    background-image: linear-gradient(105deg,#359b00 0%, #e8f95a 100% );
}

/* CustomEditForm.css */
#tree .bft-edit-form {
    display: flex;
    flex-direction: column;
    background-color: #f0f4f8; /* Remplacez cette couleur de fond au besoin */
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.bft-edit-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e8e8e8;
    padding-bottom: 1rem;
}

.bft-edit-form-title {
    font-size: 1.25rem; /* Taille de police 20px */
    color: #333;
    margin: 0;
}

#tree .male .bft-img-button {
    vertical-align: auto;
}
.bft-edit-form-close {
    margin: 15px;
    cursor: pointer;
}

#tree .bft-edit-form-avatar {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    border-radius: 0;
}

.bft-edit-form-fields {
    display: flex;
    flex-direction: column;
}

.bft-form-fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.bft-input {
    display: flex;
    flex-direction: column;
}

.bft-input label {
    color: #333;
    font-weight: 600;
}

.bft-input input {
    border: 1px solid #d9d9d9;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.bft-link {
    color: #106ba3;
}

.bft-button {
    background-color: #4f46e5; /* Couleur de fond du bouton */
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bft-button:hover {
    background-color: #4338ca; /* Assombrir la couleur du bouton au survol */
}

.bft-button.transparent {
    background-color: transparent;
    color: #106ba3;
}

