.billyButton
{
    background-color: #08CC0A;
    margin-right: 20px;
    margin-left: 20px;
}

.billyButton:hover {
    background-color: #08CC0A;
    opacity: 0.9;
}

.conteneur{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.ok:hover .ant-btn-primary:hover {
    background-color: darkgreen;
    opacity: 0.9;
}